In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("HeightWeight.csv")

In [3]:
dataset

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [4]:
x= dataset["Height(Inches)"]

In [5]:
y= dataset["Weight(Pounds)"]

In [6]:
from keras.layers import Dense

In [7]:
from keras.models import Sequential

In [8]:
model = Sequential()

In [9]:
model.get_config()

{'name': 'sequential', 'layers': []}

In [10]:
model.add(Dense( units=1,activation='linear',
                bias_initializer="zeros",kernel_initializer="zeros"))

In [12]:
model.compile(loss="mean_absolute_error")

In [15]:
model.fit(x,y,epochs=10
          )

Epoch 1/10
782/782 [==============================] - 4s 5ms/step - loss: 8.2500
Epoch 2/10
782/782 [==============================] - 3s 3ms/step - loss: 8.2507
Epoch 3/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2494
Epoch 4/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2505
Epoch 5/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2505
Epoch 6/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2512
Epoch 7/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2488
Epoch 8/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2495
Epoch 9/10
782/782 [==============================] - 3s 4ms/step - loss: 8.2496
Epoch 10/10
782/782 [==============================] - 2s 3ms/step - loss: 8.2491

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 2

=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.predict([123])

1/1 [==============================] - 0s 328ms/step

array([[228.63]], dtype=float32)