In [33]:
import pandas as pd

In [34]:
data = pd.read_csv("50_startups.csv")

In [35]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [36]:
y= data["Profit"]

In [37]:
y.info

<bound method Series.info of 0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64>

In [38]:
x=data[ ["R&D Spend","Administration","Marketing Spend"] ]

In [39]:
x.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend'], dtype='object')

performing One hot encoding

In [40]:
dummy_state = pd.get_dummies(data.State,drop_first=True)

In [41]:
dummy_state.info

<bound method DataFrame.info of     Florida  New York
0         0         1
1         0         0
2         1         0
3         0         1
4         1         0
5         0         1
6         0         0
7         1         0
8         0         1
9         0         0
10        1         0
11        0         0
12        1         0
13        0         0
14        1         0
15        0         1
16        0         0
17        0         1
18        1         0
19        0         1
20        0         0
21        0         1
22        1         0
23        1         0
24        0         1
25        0         0
26        1         0
27        0         1
28        1         0
29        0         1
30        1         0
31        0         1
32        0         0
33        1         0
34        0         0
35        0         1
36        1         0
37        0         0
38        0         1
39        0         0
40        0         0
41        1         0
42        0         0
43        0         1
44        0         0
45        0         1
46        1         0
47        0         0
48        0         1
49        0         0>

In [42]:
x = pd.concat([x, dummy_state],axis="columns")

# or
# x[ ["Florida","New York"] ]= dummy_state

In [43]:
x.info

<bound method DataFrame.info of     R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.20       136897.80        471784.10        0         1
1   162597.70       151377.59        443898.53        0         0
2   153441.51       101145.55        407934.54        1         0
3   144372.41       118671.85        383199.62        0         1
4   142107.34        91391.77        366168.42        1         0
5   131876.90        99814.71        362861.36        0         1
6   134615.46       147198.87        127716.82        0         0
7   130298.13       145530.06        323876.68        1         0
8   120542.52       148718.95        311613.29        0         1
9   123334.88       108679.17        304981.62        0         0
10  101913.08       110594.11        229160.95        1         0
11  100671.96        91790.61        249744.55        0         0
12   93863.75       127320.38        249839.44        1         0
13   91992.39       135495.07        252664.93        0         0
14  119943.24       156547.42        256512.92        1         0
15  114523.61       122616.84        261776.23        0         1
16   78013.11       121597.55        264346.06        0         0
17   94657.16       145077.58        282574.31        0         1
18   91749.16       114175.79        294919.57        1         0
19   86419.70       153514.11             0.00        0         1
20   76253.86       113867.30        298664.47        0         0
21   78389.47       153773.43        299737.29        0         1
22   73994.56       122782.75        303319.26        1         0
23   67532.53       105751.03        304768.73        1         0
24   77044.01        99281.34        140574.81        0         1
25   64664.71       139553.16        137962.62        0         0
26   75328.87       144135.98        134050.07        1         0
27   72107.60       127864.55        353183.81        0         1
28   66051.52       182645.56        118148.20        1         0
29   65605.48       153032.06        107138.38        0         1
30   61994.48       115641.28         91131.24        1         0
31   61136.38       152701.92         88218.23        0         1
32   63408.86       129219.61         46085.25        0         0
33   55493.95       103057.49        214634.81        1         0
34   46426.07       157693.92        210797.67        0         0
35   46014.02        85047.44        205517.64        0         1
36   28663.76       127056.21        201126.82        1         0
37   44069.95        51283.14        197029.42        0         0
38   20229.59        65947.93        185265.10        0         1
39   38558.51        82982.09        174999.30        0         0
40   28754.33       118546.05        172795.67        0         0
41   27892.92        84710.77        164470.71        1         0
42   23640.93        96189.63        148001.11        0         0
43   15505.73       127382.30         35534.17        0         1
44   22177.74       154806.14         28334.72        0         0
45    1000.23       124153.04          1903.93        0         1
46    1315.46       115816.21        297114.46        1         0
47       0.00       135426.92             0.00        0         0
48     542.05        51743.15             0.00        0         1
49       0.00       116983.80         45173.06        0         0>

Training test Split

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=.20,random_state=3)

In [46]:
model = LinearRegression()

In [47]:
model.fit(X_train,y_train)

LinearRegression()

In [48]:
y_pred = model.predict(X_test)

In [49]:
y_pred

array([127945.43268665,  86145.07991699, 156693.62398837,  45896.07591369,
        95847.17318325,  97280.79368153, 127382.43105922,  52651.79500725,
        46827.32139623, 158637.10917552])

In [50]:
y_test

12    141585.52
39     81005.76
9     149759.96
47     42559.73
31     97483.56
28    103282.38
13    134307.35
48     35673.41
45     64926.08
6     156122.51
Name: Profit, dtype: float64

In [51]:
from sklearn import metrics

In [52]:
metrics.mean_absolute_error(y_test,y_pred)

8120.405199492765

In [53]:
model.coef_

array([ 8.23509041e-01, -8.62452561e-02,  2.27006887e-02, -1.61896791e+03,
       -9.07992155e+02])

In [54]:
model.intercept_

57576.00530868513

Save our model

In [55]:
import joblib

In [56]:
joblib.dump(model,filename="Startup.model")

['Startup.model']

In [61]:
X_test

    R&D Spend  Administration  Marketing Spend  Florida  New York
12   93863.75       127320.38        249839.44        1         0
39   38558.51        82982.09        174999.30        0         0
9   123334.88       108679.17        304981.62        0         0
47       0.00       135426.92             0.00        0         0
31   61136.38       152701.92         88218.23        0         1
28   66051.52       182645.56        118148.20        1         0
13   91992.39       135495.07        252664.93        0         0
48     542.05        51743.15             0.00        0         1
45    1000.23       124153.04          1903.93        0         1
6   134615.46       147198.87        127716.82        0         0