In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("50_startups.csv")

In [3]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [4]:
y= data["Profit"]

In [6]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
x=data[ ["R&D Spend","Administration","Marketing Spend"] ]

In [9]:
x.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend'], dtype='object')

In [12]:
data["State"].head()

0      New York
1    California
2       Florida
3      New York
4       Florida
Name: State, dtype: object

performing One hot encoding

In [13]:
dummy_state = pd.get_dummies(data.State,drop_first=True)

In [14]:
dummy_state.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [15]:
x = pd.concat([x, dummy_state],axis="columns")

# or
# x[ ["Florida","New York"] ]= dummy_state

In [16]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

Import Model

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Train test split

In [18]:
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=.20,random_state=3)

In [19]:
model = LinearRegression()

In [20]:
model.fit(X_train,y_train)

LinearRegression()

In [21]:
y_pred = model.predict(X_test)

In [22]:
y_pred

array([127945.43268665,  86145.07991699, 156693.62398837,  45896.07591369,
        95847.17318325,  97280.79368153, 127382.43105922,  52651.79500725,
        46827.32139623, 158637.10917552])

In [23]:
y_test

12    141585.52
39     81005.76
9     149759.96
47     42559.73
31     97483.56
28    103282.38
13    134307.35
48     35673.41
45     64926.08
6     156122.51
Name: Profit, dtype: float64

In [24]:
from sklearn import metrics

In [25]:
metrics.mean_absolute_error(y_test,y_pred)

8120.405199492765

In [26]:
model.coef_

array([ 8.23509041e-01, -8.62452561e-02,  2.27006887e-02, -1.61896791e+03,
       -9.07992155e+02])

In [27]:
model.intercept_

57576.00530868513

Save our model

In [28]:
import joblib

In [29]:
joblib.dump(model,filename="Startup.model")

['Startup.model']

In [30]:
X_test

    R&D Spend  Administration  Marketing Spend  Florida  New York
12   93863.75       127320.38        249839.44        1         0
39   38558.51        82982.09        174999.30        0         0
9   123334.88       108679.17        304981.62        0         0
47       0.00       135426.92             0.00        0         0
31   61136.38       152701.92         88218.23        0         1
28   66051.52       182645.56        118148.20        1         0
13   91992.39       135495.07        252664.93        0         0
48     542.05        51743.15             0.00        0         1
45    1000.23       124153.04          1903.93        0         1
6   134615.46       147198.87        127716.82        0         0

In [32]:
X_test

    R&D Spend  Administration  Marketing Spend  Florida  New York
12   93863.75       127320.38        249839.44        1         0
39   38558.51        82982.09        174999.30        0         0
9   123334.88       108679.17        304981.62        0         0
47       0.00       135426.92             0.00        0         0
31   61136.38       152701.92         88218.23        0         1
28   66051.52       182645.56        118148.20        1         0
13   91992.39       135495.07        252664.93        0         0
48     542.05        51743.15             0.00        0         1
45    1000.23       124153.04          1903.93        0         1
6   134615.46       147198.87        127716.82        0         0